/*
From an answer http://stackoverflow.com/a/9975260 to a StackOverflow topic
http://stackoverflow.com/questions/2613632/jquery-ui-themes-and-html-tables
*/

table.ui-styled-table { border-collapse: collapse; }
table.ui-styled-table td.ui-state-hover {
    font-weight: inherit;
    *font-weight: expression(this.parentNode.currentStyle['fontWeight']);
}

table.ui-styled-table th, table.ui-styled-table td { border-bottom-width: 0px !important; }

table.ui-styled-table tbody tr:hover th,
table.ui-styled-table tbody tr:hover td
{ border-bottom-width: 1px !important; }

table.ui-styled-table tbody tr:hover + tr th,
table.ui-styled-table tbody tr:hover + tr td
{ border-top-width: 0px !important; }

table.ui-styled-table tbody tr.last-child th,
table.ui-styled-table tbody tr.last-child td
{ border-bottom-width: 1px !important; }

table.ui-styled-table tbody tr:last-child th,
table.ui-styled-table tbody tr:last-child td
{ border-bottom-width: 1px !important; }
