body {
  text-align: center;
  font-size: 12pt;
  font-family: "Times New Roman", serif, sans-serif;
  margin: 8px 2%;
  padding: 0;
}

h1 {
  text-align: center;
  font-family: sans-serif;
  padding: 4px 0;
  border-width: 1px;
  border-style: solid;
  margin: 9px 0;
}

#navbar {
  margin: 1em 0;
}

#navbar a {
  font-size: 10pt;
  text-decoration: none;
  border-width: 1px;
  border-style: solid;
  margin: 0;
  padding: 2px;
}

a.month {
  width: 300px;
}

#calendar {
  width: 100%;
  text-align: center;
  font-size: 10pt;
  font-weight: bold;
  table-layout: fixed;
  border-style: none;
}

#calendar th {
  font-size: 12pt;
}

caption {
  font-size: 16pt;
  border-width: 2px 2px 0 2px;
  border-style: solid;
  padding: 2px;
  font-weight: bolder;
}

.past, .future {
  text-align: left;
  height: 80px;
}

#calendar td {
  overflow: hidden;
}

#calendar table {
  width: 100%;
  border-spacing: 1px;
}

#calendar table td {
  font-size: 10pt;
  font-weight: normal;
  padding: 0;
}

#calendar table a {
  display: block;
  text-decoration: none;
  padding: 2px;
}

#display {
  width: 100%;
  text-align: center;
  font-size: 10pt;
  border-style: none;
  border-spacing: 2px;
  padding: 0;
  margin: 0;
}

#display th {
  font-weight: bold;
  font-size: 12pt;
}

.description {
  text-align: justify;
}

.box {
  text-align: left;
  font-size: 10pt;
  border-style: solid;
  border-width: 1px;
}

table.box {
  width: 100%;
  border-spacing: 0;
}

table.box td {
  padding: 4px;
}

table.box td:first-child {
  text-align: right;
}

table.box th {
  text-align: center;
  margin: 0;
  font-size: 12pt;
}

div.box, a.box {
  width: 96px;
  text-align: center;
  margin: 8px auto;
  font-size: 12pt;
  padding: 4px;
}

a.box {
  text-decoration: none;
  display: block;
}

b {
  font-size: 16pt;
}

img {
  border-style: none;
}
