/*
   Copyright 2007 Sean Proctor

   This file is part of PHP-Calendar.

   PHP-Calendar is free software; you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation; either version 2 of the License, or
   (at your option) any later version.

   PHP-Calendar is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.

   You should have received a copy of the GNU General Public License
   along with PHP-Calendar; if not, write to the Free Software
   Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA
 */

#php-calendar a {
  color: #000000;
  background-color: inherit;
}

#php-calendar a:hover {
  color: #999999;
  background-color: inherit;
}

#php-calendar h1 {
  font-size: 200%;
  text-align: center;
  font-family: sans-serif;
  color: #000000;
  background-color: inherit;
}

#php-calendar h2 {
  font-size: 175%;
  text-align: center;
  font-family: serif;
  color: #000000;
  background-color: inherit;
}

.phpc-navbar a {
  background-color: #C0C0C0;
  color: #000000;
  border: 1px solid #000000;
}

.phpc-navbar a:hover {
  background-color: #000000;
  color: #C0C0C0;
}

.phpc-navbar {
  margin: 1em 0 2em 0;
  text-align: center;
}

.phpc-navbar a {
  font-size: 90%;
  text-decoration: none;
  margin: 0;
  padding: 2px;
}

.phpc-main {
  font-size: 90%;
  border-style: solid;
  border-collapse: collapse;
  border-color: #000000;
  border-width: 2px;
  color: #000000;
  background-color: #CCCCCC;
}

table.phpc-main {
  width: 100%;
}

.phpc-main h2 {
  margin: 0;
  text-align: left;
  background-color: #C0C0C0;
  padding: .25em; 
  border-color: #000000;
  border-style: solid;
  border-width: 0 0 2px 0;
}

.phpc-main div {
  margin: .5em;
  font-weight: bold;
}

.phpc-main p {
  border-style: solid;
  border-width: 2px 0 0 0;
  border-color: #000000;
  padding: .5em;
  margin: 0;
  text-align: justify;
}

#php-calendar caption {
  font-size: 175%;
  color: #000000;
  background-color: #FFFFFF;
  padding: 2px;
  font-weight: bolder;
}

#php-calendar thead th {
  background-color: #C0C0C0;
  color: #000000;
}

#php-calendar thead {
  border: 1px solid #000000;
}

#php-calendar thead, #php-calendar tfoot {
  text-align: center;
}

#php-calendar td, #php-calendar th {
  border-style: solid;
  border-collapse: collapse;
  border-color: #000000;
  border-width: 2px;
  padding: .5em;
}

#php-calendar {
  table-layout: fixed;
}

#php-calendar td {
  text-align: left;
  height: 80px;
  overflow: hidden;
}

td.phpc-past {
  background-color: #C0C0C0;
  color: inherit;
}

td.phpc-future {
  background-color: #FFFFFF;
  color: inherit;
}

td.phpc-none {
  background-color: #999999;
  color: inherit;
}

table.phpc-main ul {
  margin: 2px;
  padding: 0;
  list-style-type: none;
  border-color: #000000;
  border-style: solid;
  border-width: 1px 1px 0 1px;
}

table.phpc-main li {
  font-size: 80%;
  font-weight: normal;
  padding: 0;
  border-color: #000000;
  border-style: solid;
  border-width: 0 0 1px 0;
  margin: 0;
}

table.phpc-main li a {
  display: block;
  text-decoration: none;
  padding: 2px;
}

table.phpc-main li a:hover {
  background-color: #999999;
  color: #FFFFFF;
}

.phpc-list {
  border: 1px solid #000000;
}

.phpc-footer {
  text-align: center;
}

.phpc-button {
  text-align: center;
}

.phpc-add {
  float: right;
  text-align: right;
}

.form-textarea {
  border: groove;
}

.form-long-free-question textarea {
  width: 100%;
  border-width: 0;
}

.form-part input {
}

/*
.form-group {
  border: 2px solid #000000;
  background-color: #C0C0C0;
  padding: 0 1em 1em 1em;
  margin-left: 2em;
}

.form {
  padding: 0;
  border: 2px solid #000000;
  background-color: gray;
}
*/

.form-question {
  border: 1px solid #000000;
  background-color: #C0C0C0;
  padding: 0.5em;
  margin: 0 1em 0.5em 1em;
}

.form-question .form-question {
  border-width: 0;
}

.form-time-question, .form-date-question {
  padding: 0;
  margin: 0;
}

.form h2 {
  background-color: #C0C0C0;
  margin: 0 0 1em 0;
}

.form h3 {
  border-width: 0 0 2px 0;
  border-style: solid;
  border-color: #000000;
  margin: 0 0 0.25em 0;
}

.form h4 {
  margin: 0;
  padding: 0;
}

.form-submit {
  background-color: #C0C0C0;
  padding: 0.5em 1em;
  margin: 1em 0 0 0;
  border-width: 0;
}

/*
.form-compound-question {
  border: 1px solid black;
  padding: 1em;
}
*/

.phpc-misc-info {
  text-align: center;
}
