{% extends "base.html.twig" %}

{% block body %}
<ul>
    {% for calendar in calendars %}
        <li>
            <a href="{{ path('default_view', {cid: calendar.cid}) }}">{{ calendar.title }}</a>
        </li>
    {% endfor %}
</ul>
{% endblock %}