{% extends "display.html" %}

{% block navigation %}
{% autoescape false %}
{% endautoescape %}
{% endblock %}

{% block content %}
  <h2>{{ day }} {{ month_name }} {{ year }}</h2>
  <table class="table">
    <thead>
      <tr>
        <th>{{ "Title"|_ }}</th>
        <th>{{ "Time"|_ }}</th>
        <th>{{ "Description"|_ }}</th>
      </tr>
    </thead>
    <tbody>
    {% for occurrence in occurrences %}
      {% if occurrence is null %}
      <tr>
        <td><a href="{{ action_event_url(context, 'display_day', attribute(occurrence, getEid)) }}">{{ attribute(occurrence, getSubject) }}</a></td>
        {% else %}
	    {% set textcolor = attribute(occurrence, getTextColor) %}
	    {% set bgcolor = attribute(occurrence, getBgColor) %}
	    <li style="{% if not textcolor is null %}color: {{ textcolor }} !important;{% endif %}{% if not bgcolor is null %}background: {{ bgcolor }} !important;{% endif %}">
	    {% set time = attribute(occurrence, getTimeString) %}
	    <span>
	    {% if not time is null %}
		    {% if attribute(occurrence, getStart) >= start_date %}
			    <span class="phpc-event-time ui-corner-all">{{ time }}</span>
		    {% else %}
			    {{ fa('share') }}
		    {% endif %}
	    {% endif %}
	    {{ attribute(occurrence, getSubject) }}
	    </span>
	    </li>
        {% endif %}
    {% endfor %}
{% endblock %}
