{% extends "index.html.twig" %}

{% block body %}
<nav class="nav">
    {% block navigation %}{% endblock %}
</nav>
<table class="phpc-month-view table table-bordered">
    <colgroup>
        <col class="wnumber">
        <col class="day">
        <col class="day">
        <col class="day">
        <col class="day">
        <col class="day">
        <col class="day">
        <col class="day">
    </colgroup>
    <thead class="thead-light">
        <tr>
            <th scope="col">{{ "week.first_letter"|trans }}</th>
            {% for i in range(0, 6) %}
                {% set week_date = add_days(start_date, i) %}
                <th scope="col">{{ start_date|day_abbr }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
    {% block content %}{% endblock %}
    </tbody>
</table>
{% endblock %}
