{% extends "display.html" %}

{% block navigation %}
{% autoescape false %}
<a class="phpc-icon-link" href="{{ script }}?action=display_month&amp;phpcid={{ cid }}&amp;month={{ prev_month }}&amp;year={{ prev_year }}">{{ fa("chevron-left") }}</a>
{{ dropdown(month_name, months) }}
{{ dropdown(year, years) }}
<a class="phpc-icon-link" href="{{ script }}?action=display_month&amp;phpcid={{ cid }}&amp;month={{ next_month }}&amp;year={{ next_year }}">{{ fa("chevron-right") }}</a>
{% endautoescape %}
{% endblock %}

{% block content %}
